{% extends 'base.html.twig' %}

{% block title %}Mes factures{% endblock %}

{% block body %}
<div class="container">
    {% for invoice in invoices %}
        <div class="row">
            <div class="col-4">{{ invoice.client.company }}</div>
            <div class="col-4">{{ invoice.invoiceNumber }}</div>
            <div class="col-2"></div>
            <div class="col-1"><a href="{{ path('invoice_show', {id: invoice.id}) }}">PDF</a></div>
            <div class="col-1"><a href="{{ path('print_invoice', {id: invoice.id}) }}">Generate PDF</a></div>

        </div>
    {% endfor %}
</div>
{% endblock %}