DirectoryIndex public/index.php

<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Correction de la redirection des assets
    RewriteCond %{REQUEST_URI} ^/assets/bundles/
    RewriteRule ^assets/bundles/(.*)$ /public/assets/bundles/$1 [L]

    # Réécriture pour les autres chemins
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ %{ENV:BASE}/public/index.php [L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        RedirectMatch 307 ^/$ /public/index.php/
    </IfModule>
</IfModule>
