body {
  background-color: #0a0a0a !important;
}

// Variables pour le thème sombre
$dark-color: #333;
$dark-color-light: lighten($dark-color, 5%);
$light-color: #f8f9fa;
$light-color-dark: darken($light-color, 5%);

// Configuration des variables Bootstrap pour le thème sombre
$body-bg: $dark-color;
$body-color: $light-color;

$component-active-bg: $dark-color-light;
$component-active-color: $light-color;

$border-color: $light-color-dark;

$dropdown-bg: $dark-color;
$dropdown-border-color: $light-color-dark;

$primary: #00bc70;

@import "bootstrap";

// Styles pour les boutons de pagination désactivés
.pagination .disabled .page-link {
  color: #ffffff; /* Couleur du texte */
  background-color: #6c757d; /* Couleur d'arrière-plan */
  border-color: #6c757d; /* Couleur de bordure */
  opacity: 0.7; /* Opacité */
  cursor: not-allowed; /* Pointeur pour indiquer que le bouton est désactivé */
}

// Si vous souhaitez également personnaliser le survol
.pagination .disabled .page-link:hover {
  background-color: #5a6268; /* Couleur d'arrière-plan au survol */
  border-color: #545b62; /* Couleur de bordure au survol */
}
